<h1>{{title}}</h1>

<aside id="alerts-container" class="alerts">
{{#each alerts}}

    {{#if recovered_at}}
    <h2 class="headline alert">
        Alert recovered at {{recovered_at}}
        </h2>
    {{else}}
        <h2 class="headline alert">
        High load generated an alert - load = {{load}}, triggered at {{created_at}}
         </h2>
    {{/if}}

{{/each}}

</aside>

<div data-data='{{{uptimes}}}'></div>
