<h1>{{title}}</h1>

<aside id="alerts-container" class="alerts">
{{#each alerts}}
    <h2 class="headline alert">
    {{#if recovered_at}}
        Alert recovered at {{recovered_at}}
    {{else}}
        High load generated an alert - load = {{load}}, triggered at {{created_at}}
    {{/if}}
    </h2>
{{/each}}

</aside>

<div data-data='{{{uptimes}}}'></div>
